{% extends "base.html" %}
{% load static %}

{% block title %}
    Логин
{% endblock %}

{% block content %}
    <div class="navbar bg-white breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Сервис
          </li>
          <li class="breadcrumb-item"><a href="/workflows/">Главная</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ workflow.name }}</li>
        </ol>
      </nav>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header">
            <h1>{{ workflow.name }}</h1>
            <p class="lead">Дата создания: {{ workflow.created_at }}</p>
          </div>

          <div class="tab-pane fade active show" id="tasks" role="tabpanel" data-filter-list="card-list-body">
            <div class="row content-list-head">
              <div class="col-auto">
                <h3>Задачи</h3>
                <button class="btn btn-round" data-toggle="modal" data-target="#task-add-modal">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>

            <div id="load_list_errors"></div>

            <!--end of content list head-->
            <div class="content-list-body">
              <div class="card-list">
                <div class="card-list-body" id="tasks_list">
                </div>
              </div>
              <!--end of content list body-->
            </div>
            <!--end of content list-->
          </div>
        </div>
      </div>
    </div>

    <form class="modal fade" id="task-add-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Новая задача</h5>
              <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
            </div>
            <!--end of modal head-->
            <ul class="nav nav-tabs nav-fill" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">Информация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="task-add-members-tab" data-toggle="tab" href="#task-add-members" role="tab" aria-controls="task-add-members" aria-selected="false">Исполнители</a>
              </li>
            </ul>
            <div class="modal-body">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                  <h6>Общая информация</h6>
                  <div class="form-group row align-items-center">
                    <label class="col-3">Название</label>
                    <input class="form-control col" type="text" placeholder="Что надо сделать?" name="name" />
                  </div>
                  <div class="form-group row">
                    <label class="col-3">Описание</label>
                    <textarea class="form-control col" rows="3" placeholder="Более подробное описание" name="description"></textarea>
                  </div>

                  <input type="hidden" name="workflow_id" value="{{ workflow.id }}" />
            
                  <div class="form-group row">
                    <label class="col-3">Режим исполнения</label>
                    <select class="form-control col" id="inlineFormCustomSelect" name="mode">
                        <option value="0">Разовая</option>
                        <option value="1">Повтор</option>
                        <option value="2">Повтор по времени</option>
                        <option value="3">Повтор по порядку</option>
                        <option value="4">Повтор по порядку и времени</option>
                    </select>
                  </div>
                  <hr>
                  <h6>Настройки времени и периода</h6>
                  <div class="form-group row align-items-center">
                    <label class="col-3">Дата окончания</label>
                    <input class="form-control col flatpickr-input" type="hidden" name="last_date" placeholder="Укажите дату">
                  </div>
                  <div class="form-group row align-items-center">
                    <label class="col-3">Цикл обновления</label>
                    <input class="form-control col" type="text" placeholder="Количество часов" value="24" name="cycle" />
                  </div>
                </div>
                <div class="tab-pane fade" id="task-add-members" role="tabpanel">
                  <div class="alert alert-secondary" role="alert">
                    Первый участник задачи для повторения по порядку будет выбран активным исполнителем, участников можно менять местами.
                  </div>
                  <div class="users-manage" data-filter-list="form-group-users" style="padding-left: 10px;">
                    <div class="form-group-users">
                      {% for user_profile in accept_user_profile %}  
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="task-user-{{ user_profile.user.id }}" name="user_check" value="{{ user_profile.user.id }}" {% if profile and profile.id == user_profile.id %}checked{% endif %}>
                        <label class="custom-control-label" for="task-user-{{ user_profile.user.id }}">
                          <span class="d-flex align-items-center">
                            <img alt="Claire Connors" src="{{ user_profile.avatar.url }}" class="avatar mr-2" />
                            <span class="h6 mb-0" data-filter-by="text">{{ user_profile.user.email }}</span>
                          </span>
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="add_task_form_errors"></div>

            <!--end of modal body-->
            <div class="modal-footer">
              <button role="button" class="btn btn-primary" type="submit">
                Создать задачу
              </button>
            </div>
          </div>
        </div>
      </form>
{% endblock %}

{% block scripts %}
<script src="{% static "js/tasks.js" %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.9.17/html5sortable.min.js" ></script>

<script>
    window.onload = function() {
       TASKS.csrftoken = '{{ csrf_token }}';
       TASKS.list.init('{{ workflow.id }}');
       TASKS.create.init();
    };
</script>
{% endblock %}